	*{
			margin:0;
			padding: 0;
        }


    .register, .login{
			width:330px;
			height: 430px;
			padding: 10px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -165px;
			margin-top: -215px;

		    }
    .he{
			height: 50px;
			text-align: center;
			line-height: 100px;
			font: 20px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei",sans-serif;
			color: white;
		}

    .form1{
			height: 46px;
			border: 2px solid rgba(101,136,106,0.5);
			margin-bottom: 30px;
			border-radius:40px ;
		}


    .na{
			width: 25px;
	        height: 25px;
			background: url(/static/img/login_ico.png);
			display: block;
			background-position:  -125px 0;
			margin: 10px 13px;
			float: left;

		}
    .pw{
			display: block;
			width: 25px;
			height: 25px;
			background: url(/static/img/login_ico.png);
			background-position: -125px -34px;
			margin: 10px 13px;
			float: left;
		}
    .inpu1{
			width:274px;
			height: 44px;
			border: 0;
			display: block;
			outline: none;
			color: #ffffff;
			background: none;
			border-top-right-radius: 20px;
            border-bottom-right-radius:20px;
            float: left;
		}
    .bu1{
			width:330px;
			height: 40px;
			display: block;
			font-size: 20px;
			border-radius: 50px;
			background: #0096e6;
			color: white;
			outline: none;

		}